<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @loss_runs_required.status %>
</p>

<%= link_to 'Edit', edit_loss_runs_required_path(@loss_runs_required) %> |
<%= link_to 'Back', loss_runs_requireds_path %>
